<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphenminus</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>cent</string>
    <string>dieresis</string>
    <string>acute</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>questiondown</string>
    <string>multiply</string>
    <string>divide</string>
    <string>circumflexmod</string>
    <string>caronmod</string>
    <string>ringmod</string>
    <string>devanagaridanda</string>
    <string>devanagaridoubledanda</string>
    <string>signcandrabinducomb-bng2</string>
    <string>signanusvara-bng2</string>
    <string>signvisarga-bng2</string>
    <string>a-bng2</string>
    <string>aa-bng2</string>
    <string>i-bng2</string>
    <string>ii-bng2</string>
    <string>u-bng2</string>
    <string>uu-bng2</string>
    <string>vocalicr-bng2</string>
    <string>vocalicl-bng2</string>
    <string>e-bng2</string>
    <string>ai-bng2</string>
    <string>o-bng2</string>
    <string>au-bng2</string>
    <string>ka-bng2</string>
    <string>kha-bng2</string>
    <string>ga-bng2</string>
    <string>gha-bng2</string>
    <string>nga-bng2</string>
    <string>ca-bng2</string>
    <string>cha-bng2</string>
    <string>ja-bng2</string>
    <string>jha-bng2</string>
    <string>nya-bng2</string>
    <string>tta-bng2</string>
    <string>ttha-bng2</string>
    <string>dda-bng2</string>
    <string>ddha-bng2</string>
    <string>nna-bng2</string>
    <string>ta-bng2</string>
    <string>tha-bng2</string>
    <string>da-bng2</string>
    <string>dha-bng2</string>
    <string>na-bng2</string>
    <string>pa-bng2</string>
    <string>pha-bng2</string>
    <string>ba-bng2</string>
    <string>bha-bng2</string>
    <string>ma-bng2</string>
    <string>ya-bng2</string>
    <string>ra-bng2</string>
    <string>la-bng2</string>
    <string>sha-bng2</string>
    <string>ssa-bng2</string>
    <string>sa-bng2</string>
    <string>ha-bng2</string>
    <string>signnuktacomb-bng2</string>
    <string>signavagraha-bng2</string>
    <string>vowelsignaa-bng2</string>
    <string>vowelsigni-bng2</string>
    <string>vowelsignii-bng2</string>
    <string>vowelsignucomb-bng2</string>
    <string>vowelsignuucomb-bng2</string>
    <string>vowelsignvocalicrcomb-bng2</string>
    <string>vowelsignvocalicrrcomb-bng2</string>
    <string>vowelsigne-bng2</string>
    <string>vowelsignai-bng2</string>
    <string>vowelsigno-bng2</string>
    <string>vowelsignau-bng2</string>
    <string>signviramacomb-bng2</string>
    <string>khandata-bng2</string>
    <string>aulength-bng2</string>
    <string>rra-bng2</string>
    <string>rha-bng2</string>
    <string>yya-bng2</string>
    <string>vocalicrr-bng2</string>
    <string>vocalicll-bng2</string>
    <string>vowelsignvocaliclcomb-bng2</string>
    <string>vowelsignvocalicllcomb-bng2</string>
    <string>zero-bng2</string>
    <string>one-bng2</string>
    <string>two-bng2</string>
    <string>three-bng2</string>
    <string>four-bng2</string>
    <string>five-bng2</string>
    <string>six-bng2</string>
    <string>seven-bng2</string>
    <string>eight-bng2</string>
    <string>nine-bng2</string>
    <string>ramiddlediagonal-bng2</string>
    <string>ralowerdiagonal-bng2</string>
    <string>rupeemark-bng2</string>
    <string>rupeesign-bng2</string>
    <string>currencynumeratorone-bng2</string>
    <string>currencynumeratortwo-bng2</string>
    <string>currencynumeratorthree-bng2</string>
    <string>currencynumeratorfour-bng2</string>
    <string>currencynumeratoronelessthanthedenominator-bng2</string>
    <string>currencydenominatorsixteen-bng2</string>
    <string>isshar-bng2</string>
    <string>zwnj</string>
    <string>zwj</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>ellipsis</string>
    <string>minus</string>
    <string>dottedcircle</string>
    <string>uni0008</string>
    <string>nonmarkingreturn.1</string>
    <string>glyph213</string>
    <string>glyph214</string>
    <string>glyph215</string>
    <string>ya_signviramacomb-bng2.pstf</string>
    <string>ka_signviramacomb-bng2.half_uni0995.pres</string>
    <string>ka_signviramacomb-bng2.half_uni099F.pres</string>
    <string>ka_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ka_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>ka_signviramacomb-bng2.half_uni09A4_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ka_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ka_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>ka_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ka_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ka_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ka_signviramacomb_ssa-bng2.akhn</string>
    <string>ka_signviramacomb_ssa-bng2.akhn_uni09CD.half_uni09A3.pres</string>
    <string>ka_signviramacomb_ssa-bng2.akhn_uni09CD.half_uni09AE.pres</string>
    <string>ka_signviramacomb_ssa-bng2.akhn_uni09CD_uni09B0.blwf.vatu</string>
    <string>ka_signviramacomb-bng2.half_uni09B8.pres</string>
    <string>kha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>kha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ga_vowelsignucomb-bng2.blws</string>
    <string>ga_signviramacomb-bng2.half_uni0997.pres</string>
    <string>ga_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>ga_signviramacomb-bng2.half_uni09A7.pres</string>
    <string>ga_signviramacomb-bng2.half_uni09A7_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ga_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ga_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>ga_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ga_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ga_signviramacomb_ba-bng2.blwf.blws</string>
    <string>gha_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>gha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>gha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>nga_signviramacomb-bng2.half_uni0995.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0995_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0995_uni09CD_uni09B7.akhn.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0995_uni09CD_uni09B7.akhn_uni09CD_uni09</string>
    <string>nga_signviramacomb-bng2.half_uni0996.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0997.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0998.pres</string>
    <string>nga_signviramacomb-bng2.half_uni0998_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nga_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>nga_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ca_signviramacomb-bng2.half_uni099A.pres</string>
    <string>ca_signviramacomb-bng2.half_uni099B.pres</string>
    <string>ca_signviramacomb-bng2.half_uni099B_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>glyph260</string>
    <string>ca_signviramacomb-bng2.half_uni099E.pres</string>
    <string>ca_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ca_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ca_signviramacomb_ba-bng2.blwf.blws</string>
    <string>cha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>cha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ja_signviramacomb-bng2.half_uni099C.pres</string>
    <string>ja_signviramacomb-bng2.half_uni099C.pres_uni09CD_uni09AC.blwf.blws</string>
    <string>ja_signviramacomb-bng2.half_uni099D.pres</string>
    <string>ja_signviramacomb_nya-bng2.akhn</string>
    <string>ja_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ja_signviramacomb_ba-bng2.blwf.blws</string>
    <string>jha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>nya_signviramacomb-bng2.half_uni099A.pres</string>
    <string>nya_signviramacomb-bng2.half_uni099B.pres</string>
    <string>nya_signviramacomb-bng2.half_uni099C.pres</string>
    <string>nya_signviramacomb-bng2.half_uni099D.pres</string>
    <string>tta_signviramacomb-bng2.half_uni099F.pres</string>
    <string>tta_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>tta_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>tta_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>tta_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ttha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>dda_signviramacomb-bng2.half_uni0997.pres</string>
    <string>dda_signviramacomb-bng2.half_uni09A1.pres</string>
    <string>dda_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>dda_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>dda_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ddha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>nna_signviramacomb-bng2.half_uni099F.pres</string>
    <string>nna_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A0.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A0_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A1.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A1_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A2.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A2_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A3.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>nna_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>nna_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ta_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>ta_signviramacomb-bng2.half_uni09A5.pres</string>
    <string>ta_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ta_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>ta_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ta_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>tha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>tha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>da_signviramacomb-bng2.half_uni0997.pres</string>
    <string>da_signviramacomb-bng2.half_uni0998.pres</string>
    <string>da_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>da_signviramacomb-bng2.half_uni09A6_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>da_signviramacomb-bng2.half_uni09A6.pres_uni09CD_uni09AC.blwf.blws</string>
    <string>da_signviramacomb-bng2.half_uni09A7.pres</string>
    <string>da_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>da_signviramacomb-bng2.half_uni09AD.pres</string>
    <string>da_signviramacomb-bng2.half_uni09AD_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>da_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>da_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>da_signviramacomb_ra-bng2.blwf.vatu_uni09C1.blws</string>
    <string>da_signviramacomb_ra-bng2.blwf.vatu_uni09C2.blws</string>
    <string>da_signviramacomb_ba-bng2.blwf.blws</string>
    <string>dha_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>dha_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>dha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>dha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>na_signviramacomb-bng2.half_uni099F.pres</string>
    <string>na_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A0.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A1.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A1_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A4.pres_uni09C1.blws</string>
    <string>na_signviramacomb-bng2.half_uni09A4_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A5.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A5_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A6_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A6.pres_uni09CD_uni09AC.blwf.blws</string>
    <string>na_signviramacomb-bng2.half_uni09A7.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A7_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>na_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>na_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>na_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>na_signviramacomb_ba-bng2.blwf.blws</string>
    <string>na_signviramacomb-bng2.half_uni09B8.pres</string>
    <string>pa_signviramacomb-bng2.half_uni099F.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09A4.pres_uni09C1.blws</string>
    <string>pa_signviramacomb-bng2.half_uni09A4_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09AA.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>pa_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>pa_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>pa_signviramacomb-bng2.half_uni09B8.pres</string>
    <string>pha_signviramacomb-bng2.half_uni099F.pres</string>
    <string>pha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>pha_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ba_signviramacomb-bng2.half_uni099C.pres</string>
    <string>ba_signviramacomb-bng2.half_uni099D.pres</string>
    <string>ba_signviramacomb-bng2.half_uni09A1.pres</string>
    <string>ba_signviramacomb-bng2.half_uni09A2.pres</string>
    <string>ba_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>ba_signviramacomb-bng2.half_uni09A6_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ba_signviramacomb-bng2.half_uni09A7.pres</string>
    <string>ba_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ba_signviramacomb-bng2.half_uni09AD.pres</string>
    <string>ba_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ba_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>bha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>bha_signviramacomb_ra-bng2.blwf.vatu_uni09C1.blws</string>
    <string>bha_signviramacomb_ra-bng2.blwf.vatu_uni09C2.blws</string>
    <string>bha_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AA.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AA_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AB.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AB_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ma_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ma_signviramacomb-bng2.half_uni09AD.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AD_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ma_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>ma_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ma_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ya_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>la_signviramacomb-bng2.half_uni0995.pres</string>
    <string>la_signviramacomb-bng2.half_uni0997.pres</string>
    <string>la_signviramacomb-bng2.half_uni0997.pres_uni09C1.blws</string>
    <string>la_signviramacomb-bng2.half_uni0998.pres</string>
    <string>la_signviramacomb-bng2.half_uni099F.pres</string>
    <string>la_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>la_signviramacomb-bng2.half_uni09A1.pres</string>
    <string>la_signviramacomb-bng2.half_uni09A1_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>la_signviramacomb-bng2.half_uni09A2.pres</string>
    <string>la_signviramacomb-bng2.half_uni09A6.pres</string>
    <string>la_signviramacomb-bng2.half_uni09AA.pres</string>
    <string>la_signviramacomb-bng2.half_uni09AB.pres</string>
    <string>la_signviramacomb_ba-bng2.blwf.blws</string>
    <string>la_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>la_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>la_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>sha_vowelsignucomb-bng2.blws</string>
    <string>sha_signviramacomb-bng2.half_uni099A.pres</string>
    <string>sha_signviramacomb-bng2.half_uni099B.pres</string>
    <string>sha_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>sha_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>sha_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>sha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>sha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>sha_signviramacomb_ra-bng2.blwf.vatu_uni09C0.psts</string>
    <string>sha_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni0995.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni0995_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni099F.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni09A0.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni09A3.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni09AA.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni09AA_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>ssa_signviramacomb-bng2.half_uni09AB.pres</string>
    <string>ssa_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ssa_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ssa_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>sa_signviramacomb-bng2.half_uni0995.pres</string>
    <string>sa_signviramacomb-bng2.half_uni0995_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>sa_signviramacomb-bng2.half_uni0996.pres</string>
    <string>sa_signviramacomb-bng2.half_uni099F.pres</string>
    <string>sa_signviramacomb-bng2.half_uni099F_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09A4.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09A4.pres_uni09C1.blws</string>
    <string>sa_signviramacomb-bng2.half_uni09A4_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09A5.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09AA.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09AA_uni09CD_uni09B0.blwf.vatu.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09AA_uni09CD.half_uni09B2.pres</string>
    <string>sa_signviramacomb-bng2.half_uni09AB.pres</string>
    <string>sa_signviramacomb_ba-bng2.blwf.blws</string>
    <string>sa_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>sa_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>sa_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>ha_vowelsignucomb-bng2.blws</string>
    <string>ha_vowelsignvocalicrcomb-bng2.blws</string>
    <string>ha_signviramacomb-bng2.half_uni09A3.pres</string>
    <string>ha_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>ha_signviramacomb_ba-bng2.blwf.blws</string>
    <string>ha_signviramacomb-bng2.half_uni09AE.pres</string>
    <string>ha_signviramacomb_ra-bng2.blwf.vatu</string>
    <string>ha_signviramacomb-bng2.half_uni09B2.pres</string>
    <string>rra_signviramacomb-bng2.half_uni0997.pres</string>
    <string>vowelsigni_signcandrabinducomb-bng2.abvs</string>
    <string>vowelsignii_signcandrabinducomb-bng2.abvs</string>
    <string>aulength_signcandrabinducomb-bng2.abvs</string>
    <string>vowelsigne-bng2.aalt</string>
    <string>vowelsignai-bng2.aalt</string>
    <string>ra_signviramacomb-bng2.rphf</string>
    <string>signviramacomb_ra-bng2.blwf</string>
    <string>glyph462</string>
    <string>ka_signviramacomb-bng2.haln</string>
    <string>kha_signviramacomb-bng2.haln</string>
    <string>ga_signviramacomb-bng2.haln</string>
    <string>gha_signviramacomb-bng2.haln</string>
    <string>nga_signviramacomb-bng2.haln</string>
    <string>ca_signviramacomb-bng2.haln</string>
    <string>cha_signviramacomb-bng2.haln</string>
    <string>ja_signviramacomb-bng2.haln</string>
    <string>jha_signviramacomb-bng2.haln</string>
    <string>nya_signviramacomb-bng2.haln</string>
    <string>tta_signviramacomb-bng2.haln</string>
    <string>ttha_signviramacomb-bng2.haln</string>
    <string>dda_signviramacomb-bng2.haln</string>
    <string>ddha_signviramacomb-bng2.haln</string>
    <string>nna_signviramacomb-bng2.haln</string>
    <string>ta_signviramacomb-bng2.haln</string>
    <string>tha_signviramacomb-bng2.haln</string>
    <string>da_signviramacomb-bng2.haln</string>
    <string>dha_signviramacomb-bng2.haln</string>
    <string>na_signviramacomb-bng2.haln</string>
    <string>pa_signviramacomb-bng2.haln</string>
    <string>pha_signviramacomb-bng2.haln</string>
    <string>ba_signviramacomb-bng2.haln</string>
    <string>bha_signviramacomb-bng2.haln</string>
    <string>ma_signviramacomb-bng2.haln</string>
    <string>ya_signviramacomb-bng2.haln</string>
    <string>ra_signviramacomb-bng2.haln</string>
    <string>la_signviramacomb-bng2.haln</string>
    <string>signviramacomb_ba-bng2.blwf</string>
    <string>sha_signviramacomb-bng2.haln</string>
    <string>ssa_signviramacomb-bng2.haln</string>
    <string>sa_signviramacomb-bng2.haln</string>
    <string>ha_signviramacomb-bng2.haln</string>
    <string>rra_signviramacomb-bng2.haln</string>
    <string>rha_signviramacomb-bng2.haln</string>
    <string>yya_signviramacomb-bng2.haln</string>
    <string>ka_signviramacomb_ssa-bng2.akhn_uni09CD.haln</string>
    <string>ralowerdiagonal_signviramacomb-bng2.haln</string>
    <string>ramiddlediagonal_signviramacomb-bng2.haln</string>
    <string>vowelsignucomb-bng2.blws</string>
    <string>vowelsignuucomb-bng2.blws</string>
    <string>ka_signviramacomb-bng2.half</string>
    <string>kha_signviramacomb-bng2.half</string>
    <string>ga_signviramacomb-bng2.half</string>
    <string>gha_signviramacomb-bng2.half</string>
    <string>nga_signviramacomb-bng2.half</string>
    <string>ca_signviramacomb-bng2.half</string>
    <string>cha_signviramacomb-bng2.half</string>
    <string>ja_signviramacomb-bng2.half</string>
    <string>jha_signviramacomb-bng2.half</string>
    <string>nya_signviramacomb-bng2.half</string>
    <string>tta_signviramacomb-bng2.half</string>
    <string>ttha_signviramacomb-bng2.half</string>
    <string>dda_signviramacomb-bng2.half</string>
    <string>ddha_signviramacomb-bng2.half</string>
    <string>nna_signviramacomb-bng2.half</string>
    <string>ta_signviramacomb-bng2.half</string>
    <string>tha_signviramacomb-bng2.half</string>
    <string>da_signviramacomb-bng2.half</string>
    <string>dha_signviramacomb-bng2.half</string>
    <string>na_signviramacomb-bng2.half</string>
    <string>pa_signviramacomb-bng2.half</string>
    <string>pha_signviramacomb-bng2.half</string>
    <string>ba_signviramacomb-bng2.half</string>
    <string>bha_signviramacomb-bng2.half</string>
    <string>ma_signviramacomb-bng2.half</string>
    <string>ya_signviramacomb-bng2.half</string>
    <string>ra_signviramacomb-bng2.half</string>
    <string>la_signviramacomb-bng2.half</string>
    <string>sha_signviramacomb-bng2.half</string>
    <string>ssa_signviramacomb-bng2.half</string>
    <string>sa_signviramacomb-bng2.half</string>
    <string>ha_signviramacomb-bng2.half</string>
    <string>rra_signviramacomb-bng2.half</string>
    <string>rha_signviramacomb-bng2.half</string>
    <string>yya_signviramacomb-bng2.half</string>
    <string>ramiddlediagonal_signviramacomb-bng2.half</string>
    <string>ralowerdiagonal_signviramacomb-bng2.half</string>
    <string>ka_signviramacomb_ssa-bng2.akhn_uni09CD.half</string>
    <string>glyph542</string>
    <string>glyph543</string>
    <string>glyph544</string>
    <string>glyph545</string>
    <string>ma_signviramacomb_ba-bng2.blwf_uni09CD_uni09B0.blwf.pres</string>
    <string>nna_signviramacomb-bng2.half_uni09A8.pres</string>
    <string>glyph548</string>
  </array>
</dict>
</plist>
